/* variables */
// fonts
$font-montserrat-alt: "Montserrat-Alt1";

// colors
$color-black: black;
$color-white: white;

// pallet
$logo-gradient-dark: linear-gradient(90deg, #fff 0%, #bcb9b2 10%, #86857f 70%, #7e7d78 100%);
$logo-gradient-light: linear-gradient(90deg, #000 0%, #3a3a3a 15%, #525151 70%, #7e7e7e 100%);

// base
$scrollbar-width: 4px;
$breakpoints: (
  desktop: 1920px,
  desktop-xs: 1200px,
  tablet: 1199px,
  tablet-xs: 768px,
  mobile: 767px,
  mobile-xs: 0,
);
