name: Deploy

on:
  push:
    branches:
      - dev
      - stage
      - main

env:
  DOCKER_COMPOSE_VERSION: 1.29.2

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ (github.ref == 'refs/heads/dev' && 'Development') || (github.ref == 'refs/heads/stage' && 'Staging') || (github.ref == 'refs/heads/main' && 'Production') }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Load SSH key
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Prepare
        id: set-env
        run: |
          if [ "${{ github.ref }}" == "refs/heads/dev" ]; then
            echo "::set-output name=ENVIRONMENT_NAME::dev"
          elif [ "${{ github.ref }}" == "refs/heads/stage" ]; then
            echo "::set-output name=ENVIRONMENT_NAME::stage"
          elif [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "::set-output name=ENVIRONMENT_NAME::production"
          fi
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            echo "::set-output name=TAG_NAME::$(echo "$GITHUB_REF" | sed -n 's/^.*tags\/\([^ ]*\).*/\1/p')"
          else
            echo "::set-output name=TAG_NAME::latest"
          fi

      - name: Deploying
        run: |
          ssh ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }} "\
          cd /home/projects/primetime-frontend-${{ steps.set-env.outputs.ENVIRONMENT_NAME }} && \
          TAG_NAME=${{ steps.set-env.outputs.TAG_NAME }} && \
          echo $TAG_NAME && \
          sh ./deploy.sh"

        env:
          PORT: ${{ steps.set-env.outputs.PORT }}
          ENVIRONMENT_NAME: ${{ steps.set-env.outputs.ENVIRONMENT_NAME }}
